<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h1>{{item.name}}</h1>
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="overview">{{ localize "undertaking.Overview" }}</a>
        <a class="item" data-tab="classAbilities">{{ localize "undertaking.ClassAbilities" }}</a>
        <a class="item" data-tab="biography">{{ localize "undertaking.Biography" }}</a>
        <a class="item" data-tab="spells">{{ localize "undertaking.Spellcasting" }}</a>
        <a class="item gear" data-tab="config"><i class="fas fa-gear" title="{{ localize "undertaking.Config" }}"></i></a>
    </nav>
    <hr/>
    {{!-- Item Sheet Body --}}
    <section class="sheet-body character">
        <input type="hidden" class="input-edit-lock" name="system.details.editLock" value="{{actor.system.details.editLock}}" data-dtype="Boolean">
        <div class="tab active character-overview" data-group="primary" data-tab="overview">
            <div class="overview-container fcol">
                <div class="character-header frow">
                    <div class="playerinfo-left fcol">
                        <div class="char-name-container">
                            <label>{{localize "undertaking.CharacterName"}}</label>
                            <input name="name" type="text" value="{{actor.name}}" data-dtype="String" />
                        </div>
                        <div class="level-bar frow">
                            <div class="char-level-container">
                                <label>{{ localize "undertaking.OverallLevel" }}: </label><label>{{actor.system.details.overallLevel}}</label>
                            </div>
                            <div class="desperate-container frow">
                                <input type="hidden" class="input-desperate" name="system.stats.desperate" value="{{actor.system.stats.desperate}}" data-dtype="Boolean">
                                <label>Desperate:</label>
                                <a class="desperate-toggle {{#ifCond actor.system.stats.desperate '==' true}}desperate{{/ifCond}}">
                                {{#ifCond actor.system.stats.desperate '==' true}}<img src="icons/svg/clockwork.svg"/>{{/ifCond}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="playerinfo-right fcol">
                        <div class="race-row frow">
                            <div class="race-core-container">
                                <input name="system.details.raceCore" type="text" value="{{actor.system.details.raceCore}}" data-dtype="String" />
                                <label>{{localize "undertaking.CoreRace"}}</label>
                            </div>
                            <div class="race-branch-container">
                                <input name="system.details.raceBranch" type="text" value="{{actor.system.details.raceBranch}}" data-dtype="String" />
                                <label>{{localize "undertaking.BranchRace"}}</label>
                            </div>
                            <div class="size-container">
                                <input name="system.traits.size" type="text" value="{{actor.system.traits.size}}" data-dtype="String" />
                                <label>{{localize "undertaking.Size"}}</label>
                            </div>
                            <div class="exp-container">
                                <input name="system.details.xp.value" type="number" value="{{actor.system.details.xp.value}}" placeholder="0" data-dtype="Number" />
                                <label>{{localize "undertaking.Experience"}}</label>
                            </div>
                        </div>
                        <div class="speed-row frow">
                            <div class="walk-speed-container">
                                <input name="system.stats.movement.walk" type="text" value="{{actor.system.stats.movement.walk}}" placeholder="30" data-dtype="String" />
                                <label>{{localize "undertaking.Movement.Walk"}}</label>
                            </div>
                            <div class="climb-speed-container">
                                <input name="system.stats.movement.climb" type="text" value="{{actor.system.stats.movement.climb}}" data-dtype="String" />
                                <label>{{localize "undertaking.Movement.Climb"}}</label>
                            </div>
                            <div class="swim-speed-container">
                                <input name="system.stats.movement.swim" type="text" value="{{actor.system.stats.movement.swim}}" data-dtype="String" />
                                <label>{{localize "undertaking.Movement.Swim"}}</label>
                            </div>
                            <div class="fly-speed-container">
                                <input name="system.stats.movement.fly" type="text" value="{{actor.system.stats.movement.fly}}" data-dtype="String" />
                                <label>{{localize "undertaking.Movement.Fly"}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="char-info-body frow">
                    <div class="stats-body-left-col fcol">
                        <div class="glance-vals fcol">
                            <div class="glance-row-container frow">
                                <div class="val-bubble bubble-left">
                                    <h4 class="bubble-pb">{{numberFormat actor.system.stats.profBonus decimals=0 sign=true}}</h4>
                                </div>
                                <div class="glance-label-container fcol">
                                    <div class="glance-label-container2">
                                        <label>{{ localize "undertaking.ProfBonus" }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="glance-row-container frow">
                                <div class="val-bubble bubble-right">
                                    <input name="system.stats.luck.value" type="number" value="{{actor.system.stats.luck.value}}" placeholder="0" data-dtype="Number" />
                                </div>
                                <div class="glance-label-container fcol">
                                    <div class="glance-label-container2">
                                        <label>{{ localize "undertaking.Luck" }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="glance-row-container frow">
                                <div class="val-bubble bubble-left">
                                    <h4 class="bubble-aware">{{actor.system.skills.perception.passive}}</h4>
                                </div>
                                <div class="glance-label-container fcol">
                                    <div class="glance-label-container2">
                                        <label>{{ localize "undertaking.Awareness" }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="glance-row-container frow">
                                <div class="val-bubble bubble-right">
                                    <h4 class="bubble-carry">{{actor.system.stats.carryCapacity}}</h4>
                                </div>
                                <div class="glance-label-container fcol">
                                    <div class="glance-label-container2">
                                        <label>{{ localize "undertaking.CarryCapacity" }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="attributes-col frow">
                            {{!-- Ability Scores --}}
                            <div class="attributes-scores fcol">
                            {{#each actor.system.attributes as |attribute attr_id|}}
                                <div class="attribute frow" data-attribute="{{attr_id}}">
                                    <div class="attr-nums-container fcol">
                                        <div class="attr-nums-col fcol">
                                            <div class="attribute-modifiers frow">
                                                <span class="attribute-mod" data-tooltip="">
                                                    {{numberFormat attribute.mod decimals=0 sign=true}}
                                                </span>
                                            </div>
                                            <input type="text" name="system.attributes.{{attr_id}}.value" value="{{attribute.value}}"
                                                class="attribute-score" placeholder="10" data-dtype="Number">
                                        </div>
                                    </div>
                                    <div class="attr-prof-col fcol">
                                        <div class="attr-name-container">
                                            <h4 class="attribute-name box-title rollable" data-rolltype="attribute" data-attribute="{{attr_id}}">{{localize attribute.label}} {{#ifCond attribute.globalBonus '!=' 0}}<span title="{{localize attribute.label}} {{localize "undertaking.Check"}} {{localize "undertaking.Total"}}: {{numberFormat attribute.check decimals=0 sign=true}}">{{numberFormat attribute.globalBonus decimals=0 sign=true}}</span>{{/ifCond}}</h4>
                                        </div>
                                        <div class="prof-row frow">
                                            <input type="hidden" class="input-save-prof" name="system.attributes.{{attr_id}}.proficient" value="{{attribute.proficient}}" data-dtype="Number">
                                            <div class="prof-radio-container frow">
                                                <a class="profcheck save-check {{#ifCond attribute.proficient '>=' 1}}checked{{/ifCond}}" id="{{attr_id}}-save"></a>
                                            </div>
                                            <div class="prof-num-container">
                                                </label>{{numberFormat attribute.save decimals=0 sign=true}}</label>
                                            </div>
                                            <div class="prof-name-container">
                                                <label class="rollable" data-rolltype="save" data-attribute="{{attr_id}}">{{localize "undertaking.SaveCheck"}}</label>
                                            </div>
                                        </div>
                                        {{#each ../actor.system.skills as |skill skill_id|}}
                                            {{#ifequal skill.attribute attr_id}}
                                                <div class="prof-row frow">
                                                    <input type="hidden" class="input-skill-prof" name="system.skills.{{skill_id}}.value" value="{{skill.value}}" data-dtype="Number">
                                                    <div class="prof-radio-container frow">
                                                        <a class="profcheck skill-check {{#ifCond skill.value '>=' 1}}checked{{/ifCond}}" id="{{skill_id}}-prof"></a>
                                                        <a class="profcheck skill-expert {{#ifCond skill.value '>=' 2}}checked{{/ifCond}}" id="{{skill_id}}-expert"></a>
                                                    </div>
                                                    <div class="prof-num-container frow"></label>{{numberFormat skill.total decimals=0 sign=true}}</label></div>
                                                    <div class="prof-name-container frow rollable" data-rolltype="skill" data-skill="{{skill_id}}">{{localize skill.label}}
                                                        {{#ifCond skill_id '==' 'stealth'}}
                                                            {{#ifCond ../../actor.system.stats.ac.noisy '==' true}}
                                                                <i class="fa-solid fa-triangle-exclamation red" title="{{localize "undertaking.Disadvantage"}} - {{localize "undertaking.Noisy"}}" style="margin-left: 4px;"></i>
                                                            {{/ifCond}}
                                                        {{/ifCond}}
                                                    </div>
                                                    
                                                </div>
                                            {{/ifequal}}
                                        {{/each}}
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="res-equip-atk-col fcol">
                        <div class="res-equip-row frow">
                            <div class="res-col fcol">
                                <div class="ac-init frow">
                                    <div class="ac-container fcol">
                                        <div class="total-ac">
                                            <label>{{ localize "undertaking.ArmorClass" }}</label>
                                            <h4>{{actor.system.stats.ac.total}}</h4>
                                        </div>
                                        <div class="base-ac">
                                            <h4>({{actor.system.stats.ac.unshielded}})</h4>
                                            <label>({{ localize "undertaking.WithoutShield" }})</label>
                                        </div>
                                    </div>
                                    <div class="shield-container fcol">
                                        <div class="shield-info fcol">
                                            <input type="hidden" class="input-shield-equip" name="system.stats.ac.useShield" value="{{actor.system.stats.ac.useShield}}" data-dtype="Number">
                                            <label>{{ localize "undertaking.Shield" }}</label>
                                            <input name="system.stats.ac.shield" type="number" value="{{actor.system.stats.ac.shield}}" placeholder="0" data-dtype="Number" />
                                            <a class="shield-toggle {{#ifCond actor.system.stats.ac.useShield '==' 1}}checked{{/ifCond}}"></a>
                                        </div>
                                        <div class="shield-vis fcol">
                                            <div class="shield-top {{#ifCond actor.system.stats.ac.useShield '==' 1}}equipped{{/ifCond}}"></div>
                                            <div class="shield-middle {{#ifCond actor.system.stats.ac.useShield '==' 1}}equipped{{/ifCond}}"></div>
                                            <div class="shield-bottom {{#ifCond actor.system.stats.ac.useShield '==' 1}}equipped{{/ifCond}}"></div>
                                        </div>
                                    </div>
                                    <div class="initiative-container">
                                        <label class="rollable" data-rolltype="initiative">{{ localize "undertaking.Initiative" }}</label>
                                        <h4>{{numberFormat actor.system.stats.init.total decimals=0 sign=true}}</h4>
                                    </div>
                                </div>
                                <div class="hp-mana frow">
                                    <div class="hp-death-container fcol">
                                        <div class="hp-container frow {{#ifCond actor.system.stats.hp.value '==' 0}}downed{{/ifCond}}">
                                            <div class="hp-current-col fcol">
                                                <label class="hp-current-label">{{ localize "undertaking.HitPoints" }}</label>
                                                <input class="hp-big" name="system.stats.hp.value" type="number" value="{{actor.system.stats.hp.value}}" placeholder="0" data-dtype="Number" />
                                                <input class="hp-small" name="system.stats.hp.temp" type="number" value="{{actor.system.stats.hp.temp}}" placeholder="{{ localize "undertaking.TempHpPlaceholder" }}" title="{{ localize "undertaking.TempHpTip" }}" data-dtype="Number" />
                                            </div>
                                            <div class="hp-divider"></div>
                                            <div class="hp-max-col fcol">
                                                <label class="hp-current-label">{{ localize "undertaking.Max" }}</label>
                                                <input class="hp-big" name="system.stats.hp.max" type="number" value="{{actor.system.stats.hp.max}}" placeholder="0" data-dtype="Number" />
                                                <input class="hp-small" name="system.stats.hp.tempmax" type="number" value="{{actor.system.stats.hp.tempmax}}" placeholder="{{ localize "undertaking.TempMaxHpPlaceholder" }}" title="{{ localize "undertaking.TempMaxHpTip" }}" data-dtype="Number" />
                                            </div>
                                        </div>
                                        <div class="death-container frow">
                                            <div class="death-progress success frow">
                                                <div class="death-save success {{#ifCond actor.system.stats.death.success '>=' 3}}checked{{/ifCond}}"></div>
                                                <div class="death-save success {{#ifCond actor.system.stats.death.success '>=' 2}}checked{{/ifCond}}"></div>
                                                <div class="death-save success {{#ifCond actor.system.stats.death.success '>=' 1}}checked{{/ifCond}}"></div>
                                            </div>
                                            <div class="death-console fcol">
                                                <label>{{ localize "undertaking.DeathSaves" }}</label>
                                                <div class="death-buttons frow">
                                                    <input type="hidden" class="input-death-success" name="system.stats.death.success" value="{{actor.system.stats.death.success}}" data-dtype="Number">
                                                    <input type="hidden" class="input-death-fail" name="system.stats.death.failure" value="{{actor.system.stats.death.failure}}" data-dtype="Number">
                                                    <a><i class="fa-solid fa-check death-button success" title="{{ localize "undertaking.Success" }}"></i></a>
                                                    <a class="death-reset-button">{{ localize "undertaking.Reset" }}</a>
                                                    <a><i class="fa-solid fa-xmark death-button fail" title="{{ localize "undertaking.Failure" }}"></i></a>
                                                </div>
                                            </div>
                                            <div class="death-progress fail frow">
                                                <div class="death-save fail {{#ifCond actor.system.stats.death.failure '>=' 1}}checked{{/ifCond}}"><div class="cross"></div></div>
                                                <div class="death-save fail {{#ifCond actor.system.stats.death.failure '>=' 2}}checked{{/ifCond}}"><div class="cross"></div></div>
                                                <div class="death-save fail {{#ifCond actor.system.stats.death.failure '>=' 3}}checked{{/ifCond}}"><div class="cross"></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mana-container fcol">
                                        <label>{{ localize "undertaking.Mana" }}</label>
                                        <div class="mana-vals frow">
                                            <input class="mana-val" id="mana-val" name="system.stats.mana.value" type="number" value="{{actor.system.stats.mana.value}}" placeholder="0" data-dtype="Number" />
                                            <label class="mana-val divider">/</label>
                                            <label class="mana-val">{{actor.system.stats.mana.max}}</label>
                                        </div>
                                        <label style="mana-charge">{{ localize "undertaking.ChargeLimit" }}: {{actor.system.stats.mana.chargeLimit.value}}</label>
                                        <label>{{ localize "undertaking.ShortRest" }}: {{numberFormat actor.system.stats.mana.shortRestGain.value decimals=0 sign=true}}</label>
                                    </div>
                                </div>
                                <div class="rest-dice frow">
                                    <div class="rest-status-container frow">
                                        <div class="rest-labels-container fcol">
                                            <div class="rest-label top frow">
                                                <div class="rest-label-spacer"></div>
                                                <div class="rest-label-inner">Rest Dice</div>
                                                <div class="rest-label-spacer"></div>
                                            </div>
                                            <div class="rest-container frow">
                                                <div class="rest-die-col fcol">
                                                    <div class="rest-die val fcol">
                                                        <input name="system.stats.restDice.d6.value" type="number" value="{{actor.system.stats.restDice.d6.value}}" placeholder="0" data-dtype="Number" />
                                                        <label class="rollable" data-rolltype="restdie" data-die="d6">{{ localize "undertaking.DicePrefix" }}6</label>
                                                    </div>
                                                    <div class="rest-die max fcol">
                                                        <input name="system.stats.restDice.d6.max" type="number" value="{{actor.system.stats.restDice.d6.max}}" placeholder="0" data-dtype="Number" />
                                                    </div>
                                                </div>
                                                <div class="rest-die-col fcol">
                                                    <div class="rest-die val fcol">
                                                        <input name="system.stats.restDice.d8.value" type="number" value="{{actor.system.stats.restDice.d8.value}}" placeholder="0" data-dtype="Number" />
                                                        <label class="rollable" data-rolltype="restdie" data-die="d8">{{ localize "undertaking.DicePrefix" }}8</label>
                                                    </div>
                                                    <div class="rest-die max fcol">
                                                        <input name="system.stats.restDice.d8.max" type="number" value="{{actor.system.stats.restDice.d8.max}}" placeholder="0" data-dtype="Number" />
                                                    </div>
                                                </div>
                                                <div class="rest-die-col fcol">
                                                    <div class="rest-die val fcol">
                                                        <input name="system.stats.restDice.d10.value" type="number" value="{{actor.system.stats.restDice.d10.value}}" placeholder="0" data-dtype="Number" />
                                                        <label class="rollable" data-rolltype="restdie" data-die="d10">{{ localize "undertaking.DicePrefix" }}10</label>
                                                    </div>
                                                    <div class="rest-die max fcol">
                                                        <input name="system.stats.restDice.d10.max" type="number" value="{{actor.system.stats.restDice.d10.max}}" placeholder="0" data-dtype="Number" />
                                                    </div>
                                                </div>
                                                <div class="rest-die-col fcol">
                                                    <div class="rest-die val fcol">
                                                        <input name="system.stats.restDice.d12.value" type="number" value="{{actor.system.stats.restDice.d12.value}}" placeholder="0" data-dtype="Number" />
                                                        <label class="rollable" data-rolltype="restdie" data-die="d12">{{ localize "undertaking.DicePrefix" }}12</label>
                                                    </div>
                                                    <div class="rest-die max fcol">
                                                        <input name="system.stats.restDice.d12.max" type="number" value="{{actor.system.stats.restDice.d12.max}}" placeholder="0" data-dtype="Number" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rest-label bottom frow">
                                                <div class="rest-label-spacer"></div>
                                                <div class="rest-label-inner">Maximum</div>
                                                <div class="rest-label-spacer"></div>
                                            </div>
                                        </div>
                                        <div class="status-container fcol">
                                            <div class="resistances-container fcol">
                                                <label>{{ localize "undertaking.Resistances" }}</label>
                                                <textarea name="system.details.resistances" data-dtype="String">{{actor.system.details.resistances}}</textarea>
                                            </div>
                                            <div class="condition-container fcol">
                                                <label>{{ localize "undertaking.Conditions" }}</label>
                                                <textarea name="system.details.conditions" data-dtype="String">{{actor.system.details.conditions}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{> "systems/undertaking/templates/partials/character/character-resources.hbs"}}
                            </div>
                            <div class="equip-col">
                                <div class="list-container equipment item-list fcol">
                                    <div class="list-header equipment frow">
                                        <label>{{ localize "undertaking.Equipment" }} ({{carryLoad}} lbs.)
                                        {{#ifCond isOverCarryCapacity '==' true}}
                                            <i class="fa-solid fa-triangle-exclamation red" title="{{localize "undertaking.OverCarryCapacity"}}" style="margin-left: 4px;"></i>
                                        {{/ifCond}}</label>
                                        {{#ifCond actor.system.details.editLock '==' 1}}
                                            <a class="toggle-lock" title="{{ localize "undertaking.UnlockEdit" }}"><i class="fas fa-lock"></i></a>
                                        {{/ifCond}}
                                        {{#ifCond actor.system.details.editLock '==' 0}}
                                            <a class="toggle-lock" title="{{ localize "undertaking.LockEdit" }}"><i class="fas fa-lock-open"></i></a>
                                        {{/ifCond}}
                                        <a class="item-create" data-type="equipment" title="{{ localize "undertaking.AddItem" }}"><i class="fas fa-plus"></i></a>
                                    </div>
                                    <div class="scroll-container equipment">
                                        <div class="equip-scroll">
                                            {{#each equipment as |equip id|}}
                                            {{> "systems/undertaking/templates/partials/character/equipment-card.hbs" equip lockEdit=../actor.system.details.editLock}}
                                            {{/each}}
                                        </div>
                                    </div>
                                    {{#ifCond attunedCount '>' 0}}
                                    <div class="attunement-footer equipment frow">
                                        <label>{{ localize "undertaking.Attuned" }}: {{attunedCount}}/{{actor.system.stats.attunement.max}}
                                            {{#ifCond attunedCount '>' actor.system.stats.attunement.max}}
                                                <i class="fa-solid fa-triangle-exclamation red" title="{{localize "undertaking.OverAttunements"}}" style="margin-left: 4px;"></i>
                                            {{/ifCond}}
                                        </label>
                                    </div>
                                    {{/ifCond}}
                                </div>
                                <div class="money-container frow">
                                    <div class="money-col fcol">
                                        <div class="money-val-container">
                                            <input name="system.currency.pp" type="number" value="{{actor.system.currency.pp}}" placeholder="0" data-dtype="Number" />
                                        </div>
                                        <label class="money-label">{{ localize "undertaking.Currency.PP" }}</label>
                                    </div>
                                    <div class="money-col fcol">
                                        <div class="money-val-container">
                                            <input name="system.currency.gp" type="number" value="{{actor.system.currency.gp}}" placeholder="0" data-dtype="Number" />
                                        </div>
                                        <label class="money-label">{{ localize "undertaking.Currency.GP" }}</label>
                                    </div>
                                    <div class="money-col fcol">
                                        <div class="money-val-container">
                                            <input name="system.currency.sp" type="number" value="{{actor.system.currency.sp}}" placeholder="0" data-dtype="Number" />
                                        </div>
                                        <label class="money-label">{{ localize "undertaking.Currency.SP" }}</label>
                                    </div>
                                    <div class="money-col fcol">
                                        <div class="money-val-container">
                                            <input name="system.currency.cp" type="number" value="{{actor.system.currency.cp}}" placeholder="0" data-dtype="Number" />
                                        </div>
                                        <label class="money-label">{{ localize "undertaking.Currency.CP" }}</label>
                                    </div>
                                    <div class="money-col fcol">
                                        <div class="money-val-container">
                                            <input name="system.currency.other" type="number" value="{{actor.system.currency.other}}" placeholder="0" data-dtype="Number" />
                                        </div>
                                        <label class="money-label">{{ localize "undertaking.Currency.Other" }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="atk-row frow fill-space">
                            <div class="list-container attacks item-list fcol fill-space">
                                <div class="list-header attacks frow">
                                    <label>{{ localize "undertaking.Attacks" }}</label>
                                    {{#ifCond actor.system.details.editLock '==' 1}}
                                        <a class="toggle-lock" title="{{ localize "undertaking.UnlockEdit" }}"><i class="fas fa-lock"></i></a>
                                    {{/ifCond}}
                                    {{#ifCond actor.system.details.editLock '==' 0}}
                                        <a class="toggle-lock" title="{{ localize "undertaking.LockEdit" }}"><i class="fas fa-lock-open"></i></a>
                                    {{/ifCond}}
                                    <a class="item-create" data-type="customAttack" title="{{ localize "undertaking.AddAttack" }}"><i class="fas fa-plus"></i></a>
                                </div>
                                <div class="scroll-container fill-space">
                                    <div class="scroll-area attacks">
                                        {{#each attacks as |attack id|}}
                                        {{> "systems/undertaking/templates/partials/character/attack-card.hbs" attack lockEdit=../actor.system.details.editLock actor=..}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab full-page classes" data-group="primary" data-tab="classAbilities">
            <div class="classes-container fcol">
                <div class="class-subclass-row frow">
                    <div class="class-col fcol fill-space">
                        <div class="list-container classes item-list fcol fill-space">
                            <div class="list-header classes frow">
                                <label>{{ localize "undertaking.Classes" }}</label>
                                {{#ifCond actor.system.details.editLock '==' 1}}
                                    <a class="toggle-lock" title="{{ localize "undertaking.UnlockEdit" }}"><i class="fas fa-lock"></i></a>
                                {{/ifCond}}
                                {{#ifCond actor.system.details.editLock '==' 0}}
                                    <a class="toggle-lock" title="{{ localize "undertaking.LockEdit" }}"><i class="fas fa-lock-open"></i></a>
                                {{/ifCond}}
                                <a class="item-create" data-type="class" title="{{ localize "undertaking.AddItem" }}"><i class="fas fa-plus"></i></a>
                            </div>
                            <div class="scroll-container fill-space">
                                <div class="scroll-area classes">
                                    {{#each classes as |class id|}}
                                    {{> "systems/undertaking/templates/partials/character/class-card.hbs" class lockEdit=../actor.system.details.editLock}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subclass-col fcol fill-space">
                        <div class="list-container subclasses item-list fcol fill-space">
                            <div class="list-header subclasses frow">
                                <label>{{ localize "undertaking.SubClasses" }}</label>
                                {{#ifCond actor.system.details.editLock '==' 1}}
                                    <a class="toggle-lock" title="{{ localize "undertaking.UnlockEdit" }}"><i class="fas fa-lock"></i></a>
                                {{/ifCond}}
                                {{#ifCond actor.system.details.editLock '==' 0}}
                                    <a class="toggle-lock" title="{{ localize "undertaking.LockEdit" }}"><i class="fas fa-lock-open"></i></a>
                                {{/ifCond}}
                                <a class="item-create" data-type="archetype" title="{{ localize "undertaking.AddItem" }}"><i class="fas fa-plus"></i></a>
                            </div>
                            <div class="scroll-container fill-space">
                                <div class="scroll-area subclasses">
                                    {{#each archetypes as |archetype id|}}
                                    {{> "systems/undertaking/templates/partials/character/archetype-card.hbs" archetype lockEdit=../actor.system.details.editLock}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="abilities-row frow">
                    <div class="list-container abilities item-list fcol fill-space">
                        <div class="list-header abilities frow addable">
                            <label>{{ localize "undertaking.Abilities" }}</label>
                            {{#ifCond actor.system.details.editLock '==' 1}}
                                <a class="toggle-lock" title="{{ localize "undertaking.UnlockEdit" }}"><i class="fas fa-lock"></i></a>
                            {{/ifCond}}
                            {{#ifCond actor.system.details.editLock '==' 0}}
                                <a class="toggle-lock" title="{{ localize "undertaking.LockEdit" }}"><i class="fas fa-lock-open"></i></a>
                            {{/ifCond}}
                            <a class="item-create" data-type="ability" title="{{ localize "undertaking.AddAbility" }}"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="scroll-container fill-space">
                            <div class="scroll-area abilities">
                                {{#each abilities as |ability id|}}
                                {{> "systems/undertaking/templates/partials/character/ability-card.hbs" ability lockEdit=../actor.system.details.editLock}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab full-page biography" data-group="primary" data-tab="biography">
            <div class="bio-container fcol">
                <div class="bio-header frow">
                    <div class="bio-header-block long bg-early">
                        <input name="system.details.backgroundEarly" type="text" value="{{actor.system.details.backgroundEarly}}" data-dtype="String" />
                        <label>{{localize "undertaking.BackgroundEarly"}}</label>
                    </div>
                    <div class="bio-header-block long bg-later">
                        <input name="system.details.backgroundLater" type="text" value="{{actor.system.details.backgroundLater}}" data-dtype="String" />
                        <label>{{localize "undertaking.BackgroundLater"}}</label>
                    </div>
                    <div class="bio-header-block short age">
                        <input name="system.details.age" type="text" value="{{actor.system.details.age}}" data-dtype="String" />
                        <label>{{localize "undertaking.Age"}}</label>
                    </div>
                    <div class="bio-header-block short eyes">
                        <input name="system.details.eyes" type="text" value="{{actor.system.details.eyes}}" data-dtype="String" />
                        <label>{{localize "undertaking.Eyes"}}</label>
                    </div>
                    <div class="bio-header-block short height">
                        <input name="system.details.height" type="text" value="{{actor.system.details.height}}" data-dtype="String" />
                        <label>{{localize "undertaking.Height"}}</label>
                    </div>
                    <div class="bio-header-block short weight">
                        <input name="system.details.weight" type="text" value="{{actor.system.details.weight}}" data-dtype="String" />
                        <label>{{localize "undertaking.BodyWeight"}}</label>
                    </div>
                    <div class="bio-header-block short skin">
                        <input name="system.details.skin" type="text" value="{{actor.system.details.skin}}" data-dtype="String" />
                        <label>{{localize "undertaking.Skin"}}</label>
                    </div>
                    <div class="bio-header-block short hair">
                        <input name="system.details.hair" type="text" value="{{actor.system.details.hair}}" data-dtype="String" />
                        <label>{{localize "undertaking.Hair"}}</label>
                    </div>
                </div>
                <div class="bio-body frow">
                    <div class="bio-left fcol fill-space">
                        <div class="bio-top-row frow">
                            <div class="bio-block portrait">
                                <label>{{ localize "undertaking.Portrait" }}</label>
                                <div class="bio-border portrait">
                                    <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="240" width="180"/>
                                </div>
                            </div>
                            <div class="bio-block backstory fill-space">
                                <label>{{ localize "undertaking.Backstory" }}</label>
                                <div class="bio-border backstory">
                                    <textarea name="system.details.backstory" data-dtype="String">{{actor.system.details.backstory}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="bio-bottom-row frow fill-space">
                            <div class="relations-col fcol">
                                <div class="bio-block personality short">
                                    <label>{{ localize "undertaking.Personality" }}</label>
                                    <div class="bio-border personality">
                                        <textarea name="system.details.personality" data-dtype="String">{{actor.system.details.personality}}</textarea>
                                    </div>
                                </div>
                                <div class="bio-block orgs long">
                                    <label>{{ localize "undertaking.Organizations" }}</label>
                                    <div class="bio-border orgs">
                                        <textarea name="system.details.orgs" data-dtype="String">{{actor.system.details.orgs}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="notes-col fcol fill-space">
                                <div class="bio-block bio-notes fill-space">
                                    <label>{{ localize "undertaking.Notes" }}</label>
                                    <div class="bio-border bio-notes">
                                        <textarea name="system.details.notes" data-dtype="String">{{actor.system.details.notes}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bio-right fcol">
                        <div class="bio-block proficiencies">
                            <label>{{ localize "undertaking.Proficiencies" }}</label>
                            <div class="bio-border proficiencies padded" style="font-size: 12px;">
                                {{#each actor.system.traits.armorProf.armor as | armor_val id |}}
                                    <div class="prof-row frow">
                                        <input type="hidden" class="input-armor-prof" name="system.traits.armorProf.armor.{{id}}" value="{{armor_val}}" data-dtype="Number">
                                        <div class="prof-radio-container frow">
                                            <a class="profcheck armor-prof {{#ifCond armor_val '>=' 1}}checked{{/ifCond}}" id="{{id}}-prof"></a>
                                            <a class="profcheck armor-savvy savvy {{#ifCond armor_val '>=' 2}}checked{{/ifCond}}" id="{{id}}-expert"></a>
                                        </div>
                                        <div class="prof-name-container frow">{{#armor id}}{{/armor}}</div>
                                    </div>
                                {{/each}}
                                <br>
                                {{#each actor.system.traits.weaponProf.simpleM as | weapon_val id |}}
                                    <div class="prof-row frow">
                                        <input type="hidden" class="input-weapon-prof" name="system.traits.weaponProf.simpleM.{{id}}" value="{{weapon_val}}" data-dtype="Number">
                                        <div class="prof-radio-container frow">
                                            <a class="profcheck weapon-prof {{#ifCond weapon_val '>=' 1}}checked{{/ifCond}}" id="{{id}}-prof"></a>
                                            <a class="profcheck weapon-savvy savvy {{#ifCond weapon_val '>=' 2}}checked{{/ifCond}}" id="{{id}}-expert"></a>
                                        </div>
                                        <div class="prof-name-container frow">{{#weapon id 'simpleMelee'}}{{/weapon}}</div>
                                    </div>
                                {{/each}}
                                <br>
                                {{#each actor.system.traits.weaponProf.simpleR as | weapon_val id |}}
                                    <div class="prof-row frow">
                                        <input type="hidden" class="input-weapon-prof" name="system.traits.weaponProf.simpleR.{{id}}" value="{{weapon_val}}" data-dtype="Number">
                                        <div class="prof-radio-container frow">
                                            <a class="profcheck weapon-prof {{#ifCond weapon_val '>=' 1}}checked{{/ifCond}}" id="{{id}}-prof"></a>
                                            <a class="profcheck weapon-savvy savvy {{#ifCond weapon_val '>=' 2}}checked{{/ifCond}}" id="{{id}}-expert"></a>
                                        </div>
                                        <div class="prof-name-container frow">{{#weapon id 'simpleRanged'}}{{/weapon}}</div>
                                    </div>
                                {{/each}}
                                <br>
                                {{#each actor.system.traits.weaponProf.martialM as | weapon_val id |}}
                                    <div class="prof-row frow">
                                        <input type="hidden" class="input-weapon-prof" name="system.traits.weaponProf.martialM.{{id}}" value="{{weapon_val}}" data-dtype="Number">
                                        <div class="prof-radio-container frow">
                                            <a class="profcheck weapon-prof {{#ifCond weapon_val '>=' 1}}checked{{/ifCond}}" id="{{id}}-prof"></a>
                                            <a class="profcheck weapon-savvy savvy {{#ifCond weapon_val '>=' 2}}checked{{/ifCond}}" id="{{id}}-expert"></a>
                                        </div>
                                        <div class="prof-name-container frow">{{#weapon id 'martialMelee'}}{{/weapon}}</div>
                                    </div>
                                {{/each}}
                                <br>
                                {{#each actor.system.traits.weaponProf.martialR as | weapon_val id |}}
                                    <div class="prof-row frow">
                                        <input type="hidden" class="input-weapon-prof" name="system.traits.weaponProf.martialR.{{id}}" value="{{weapon_val}}" data-dtype="Number">
                                        <div class="prof-radio-container frow">
                                            <a class="profcheck weapon-prof {{#ifCond weapon_val '>=' 1}}checked{{/ifCond}}" id="{{id}}-prof"></a>
                                            <a class="profcheck weapon-savvy savvy {{#ifCond weapon_val '>=' 2}}checked{{/ifCond}}" id="{{id}}-expert"></a>
                                        </div>
                                        <div class="prof-name-container frow">{{#weapon id 'martialRanged'}}{{/weapon}}</div>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="bio-block languages">
                            <div style="text-align:center">
                                <label>{{ localize "undertaking.LanguagesTitle" }} <a class="edit-languages" title="{{ localize "undertaking.Edit" }}"><i class="fas fa-gear"></i></a></label>
                            </div>
                            <div class="bio-border languages padded">
                                {{#each actor.system.traits.languages.value}}
                                <p>{{#language this}}{{/language}}</p>
                                {{/each}}
                                <p>{{actor.system.traits.languages.custom}}</p>
                            </div>
                        </div>
                        <div class="bio-block other-prof">
                            <label>{{ localize "undertaking.OtherProficiencies" }}</label>
                            <div class="bio-border other-prof padded">
                                <textarea name="system.traits.toolProf.custom" data-dtype="String">{{actor.system.traits.toolProf.custom}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab full-page spells" data-group="primary" data-tab="spells">
            <div class="spells-container fcol">
                <input type="hidden" id="input-class-filter" name="system.details.classFilter" value="{{actor.system.details.classFilter}}" data-dtype="String">
                <input type="hidden" id="input-casting-attribute" name="system.stats.spellcasting" value="{{actor.system.stats.spellcasting}}" data-dtype="String">
                <div class="mana-stats frow">
                    <div class="mana-count short frow">
                        <label>{{ localize "undertaking.Mana" }}: </label>
                        <input class="spells-mana-val duplicate-input" data-for="#mana-val" type="number" value="{{actor.system.stats.mana.value}}" placeholder="0" data-dtype="Number" />
                        <label>/ {{actor.system.stats.mana.max}}</label>
                    </div>
                    <div class="charge-limit short">
                        <label>{{ localize "undertaking.ChargeLimit" }}: {{actor.system.stats.mana.chargeLimit.value}}</label>
                    </div>
                    <div class="mana-gain short">
                        <label>{{ localize "undertaking.ShortRest" }}: {{numberFormat actor.system.stats.mana.shortRestGain.value decimals=0 sign=true}}</label>
                    </div>
                </div>
                <hr/>
                <div class="mana-stats spend frow">
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="1"><label><span class="nohover">1st: 1 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="2"><label><span class="nohover">2nd: 2 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="4"><label><span class="nohover">3rd: 4 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="5"><label><span class="nohover">4th: 5 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="6"><label><span class="nohover">5th: 6 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="8"><label><span class="nohover">6th: 8 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="10"><label><span class="nohover">7th: 10 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="20"><label><span class="nohover">8th: 20 {{localize "undertaking.Mana"}}</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                    <div class="mana-cost short frow"><a class="spend-mana" data-level="charge"><label><span class="nohover">{{localize "undertaking.Charge"}}: +1</span><span class="onhover">{{localize "undertaking.Spend"}}</span></label></a></div>
                </div>
                <hr/>
                {{!-- Class Filter --}}
                <nav class="tabs" data-group="primary">
                    <a class="item class-filter {{#ifCond actor.system.details.classFilter '==' 'all'}}active{{/ifCond}}" data-tab="all">{{ localize "undertaking.All" }}</a>
                    <a class="item class-filter {{#ifCond actor.system.details.classFilter '==' 'prepared'}}active{{/ifCond}}" data-tab="prepared">{{ localize "undertaking.Prepared" }}</a>
                    {{#each casters as |caster id|}}
                        {{#each ../preparedByClass as |count class_id|}}
                            {{#ifCond caster.system.identifier '==' class_id}}
                                <a class="item class-filter {{#ifCond ../../actor.system.details.classFilter '==' caster.system.identifier}}active{{/ifCond}}" data-tab="{{caster.system.identifier}}">{{ caster.name }} ({{ count }})</a>
                            {{/ifCond}}
                        {{/each}}
                    {{/each}}
                </nav>
                <hr/>
                <div class="caster-stats frow">
                    {{#ifCond actor.system.details.classFilter 'in' 'all,prepared'}}
                        <div class="caster-stat attribute frow fill-space">
                            <!-- <h4>{{localize "undertaking.Attribute"}}: </h4> -->
                            <select data-for="#input-casting-attribute" class="input-dropdown">
                                {{#each actor.system.attributes as |attribute attr_id|}}
                                    <option value="{{attr_id}}" {{#ifCond ../actor.system.stats.spellcasting '==' attr_id}}selected{{/ifCond}}>{{localize attribute.label}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/ifCond}}
                    {{#ifCond actor.system.details.classFilter 'notin' 'all,prepared'}}
                        <div class="caster-stat attribute  fill-space">
                            <h4><!--{{localize "undertaking.Attribute"}}: -->{{localize actor.system.stats.spellcastingAttribute.label}}</h4>
                        </div>
                    {{/ifCond}}
                    <div class="caster-stat modifier fill-space">
                        <h4>{{localize "undertaking.Modifier"}}: {{numberFormat actor.system.stats.spellcastingAttribute.mod decimals=0 sign=true}}</h4>
                    </div>
                    <div class="caster-stat attack-bonus fill-space">
                        <h4>{{localize "undertaking.SpellAttack"}}: {{numberFormat actor.system.stats.spellcastingAttribute.attack decimals=0 sign=true}}</h4>
                    </div>
                    <div class="caster-stat save-dc fill-space">
                        <h4>{{localize "undertaking.SpellSaveDC"}}: {{numberFormat actor.system.stats.spellcastingAttribute.dc decimals=0 sign=false}}</h4>
                    </div>
                </div>
                <div class="cantrips-row frow">
                    <div class="list-container cantrips item-list fcol fill-space">
                        <div class="list-header cantrips frow">
                            <label>{{ localize "undertaking.Cantrips" }}</label>
                            {{#ifCond actor.system.details.editLock '==' 1}}
                                <a class="toggle-lock" title="{{ localize "undertaking.UnlockEdit" }}"><i class="fas fa-lock"></i></a>
                            {{/ifCond}}
                            {{#ifCond actor.system.details.editLock '==' 0}}
                                <a class="toggle-lock" title="{{ localize "undertaking.LockEdit" }}"><i class="fas fa-lock-open"></i></a>
                            {{/ifCond}}
                            <a class="item-create" data-type="cantrip" title="{{ localize "undertaking.AddItem" }}"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="scroll-container fill-space">
                            <div class="scroll-area cantrips">
                                {{#each cantrips as |cantrip id|}}
                                {{> "systems/undertaking/templates/partials/character/spell-card.hbs" cantrip lockEdit=../actor.system.details.editLock actor=..}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spells-row frow">
                    <div class="list-container spells item-list fcol fill-space">
                        <div class="list-header spells frow">
                            <label>{{ localize "undertaking.Spells" }}</label>
                            {{#ifCond actor.system.details.editLock '==' 1}}
                                <a class="toggle-lock" title="{{ localize "undertaking.UnlockEdit" }}"><i class="fas fa-lock"></i></a>
                            {{/ifCond}}
                            {{#ifCond actor.system.details.editLock '==' 0}}
                                <a class="toggle-lock" title="{{ localize "undertaking.LockEdit" }}"><i class="fas fa-lock-open"></i></a>
                            {{/ifCond}}
                            <a class="item-create" data-type="spell" title="{{ localize "undertaking.AddItem" }}"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="scroll-container fill-space">
                            <div class="scroll-area spells">
                                {{#each spells as |spell id|}}
                                {{> "systems/undertaking/templates/partials/character/spell-card.hbs" spell lockEdit=../actor.system.details.editLock actor=..}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab config" data-group="primary" data-tab="config">
            <div class="config-container">
                <!-- Checks Settings -->
                <div class="config-group fcol">
                    <div class="config-header frow">
                        <label>Checks</label>
                    </div>
                    <div class="config-input frow">
                        <label>Global Check Bonus</label>
                        <input name="system.bonuses.check.all" type="number" placeholder="0" value="{{actor.system.bonuses.check.all}}" data-dtype="Number" />
                    </div>
                    <div class="config-input frow">
                        <label>Global Skill Check Bonus</label>
                        <input name="system.bonuses.check.skill" type="number" placeholder="0" value="{{actor.system.bonuses.check.skill}}" data-dtype="Number" />
                    </div>
                    <div class="config-input frow">
                        <label>Global Save Check Bonus</label>
                        <input name="system.bonuses.check.save" type="number" placeholder="0" value="{{actor.system.bonuses.check.save}}" data-dtype="Number" />
                    </div>
                    {{#each actor.system.attributes as |attribute attr_id|}}
                        <hr/>
                        <div class="config-input frow">
                            <label>{{localize attribute.label}} Check Bonus</label>
                            <input name="system.attributes.{{attr_id}}.bonuses.check.all" type="number" placeholder="0" value="{{attribute.bonuses.check.all}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>{{localize attribute.label}} Save Check Bonus</label>
                            <input name="system.attributes.{{attr_id}}.bonuses.check.save" type="number" placeholder="0" value="{{attribute.bonuses.check.save}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>{{localize attribute.label}} Skill Check Bonus</label>
                            <input name="system.attributes.{{attr_id}}.bonuses.check.skill" type="number" placeholder="0" value="{{attribute.bonuses.check.skill}}" data-dtype="Number" />
                        </div>
                    {{/each}}

                </div>

                <!-- Skills Settings -->
                <div class="config-group fcol">
                    <div class="config-header frow">
                        <label>Skills</label>
                    </div>
                    <div class="config-input frow">
                        <label>Awareness Bonus</label>
                        <input name="system.skills.perception.bonuses.passive" type="number" placeholder="0" value="{{actor.system.skills.perception.bonuses.passive}}" data-dtype="Number" />
                    </div>
                    <hr/>
                    {{#each actor.system.skills as |skill skill_id|}}
                        <div class="config-input frow">
                            <label>{{localize skill.label}} Bonus</label>
                            <input name="system.skills.{{skill_id}}.bonuses.check" type="number" placeholder="0" value="{{skill.bonuses.check}}" data-dtype="Number" />
                        </div>
                    {{/each}}
                </div>

                <!-- Mana Settings -->
                <div class="config-group fcol">
                    <div class="fcol">
                        <div class="config-header frow">
                            <label>Armor Class</label>
                        </div>
                        <div class="config-input frow">
                            <label>Base AC</label>
                            <input name="system.stats.ac.base" type="number" placeholder="10" value="{{actor.system.stats.ac.base}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <input type="hidden" id="input-ac-dex" name="system.stats.ac.attributes.dex.enabled" value="{{actor.system.stats.ac.attributes.dex.enabled}}" data-dtype="Boolean">
                            <input type="checkbox" class="input-checkbox" data-for="#input-ac-dex" {{#ifCond actor.system.stats.ac.attributes.dex.enabled '==' true}}checked{{/ifCond}}/>
                            <label>Add Dex. Limit:</label>
                            <input name="system.stats.ac.attributes.dex.limit" type="number" value="{{actor.system.stats.ac.attributes.dex.limit}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <input type="hidden" id="input-ac-str" name="system.stats.ac.attributes.str.enabled" value="{{actor.system.stats.ac.attributes.str.enabled}}" data-dtype="Boolean">
                            <input type="checkbox" class="input-checkbox" data-for="#input-ac-str" {{#ifCond actor.system.stats.ac.attributes.str.enabled '==' true}}checked{{/ifCond}}/>
                            <label>Add Str. Limit:</label>
                            <input name="system.stats.ac.attributes.str.limit" type="number" value="{{actor.system.stats.ac.attributes.str.limit}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <input type="hidden" id="input-ac-con" name="system.stats.ac.attributes.con.enabled" value="{{actor.system.stats.ac.attributes.con.enabled}}" data-dtype="Boolean">
                            <input type="checkbox" class="input-checkbox" data-for="#input-ac-con" {{#ifCond actor.system.stats.ac.attributes.con.enabled '==' true}}checked{{/ifCond}}/>
                            <label>Add Con. Limit:</label>
                            <input name="system.stats.ac.attributes.con.limit" type="number" value="{{actor.system.stats.ac.attributes.con.limit}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <input type="hidden" id="input-ac-int" name="system.stats.ac.attributes.int.enabled" value="{{actor.system.stats.ac.attributes.int.enabled}}" data-dtype="Boolean">
                            <input type="checkbox" class="input-checkbox" data-for="#input-ac-int" {{#ifCond actor.system.stats.ac.attributes.int.enabled '==' true}}checked{{/ifCond}}/>
                            <label>Add Int. Limit:</label>
                            <input name="system.stats.ac.attributes.int.limit" type="number" value="{{actor.system.stats.ac.attributes.int.limit}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <input type="hidden" id="input-ac-wis" name="system.stats.ac.attributes.wis.enabled" value="{{actor.system.stats.ac.attributes.wis.enabled}}" data-dtype="Boolean">
                            <input type="checkbox" class="input-checkbox" data-for="#input-ac-wis" {{#ifCond actor.system.stats.ac.attributes.wis.enabled '==' true}}checked{{/ifCond}}/>
                            <label>Add Wis. Limit:</label>
                            <input name="system.stats.ac.attributes.wis.limit" type="number" value="{{actor.system.stats.ac.attributes.wis.limit}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <input type="hidden" id="input-ac-pre" name="system.stats.ac.attributes.pre.enabled" value="{{actor.system.stats.ac.attributes.pre.enabled}}" data-dtype="Boolean">
                            <input type="checkbox" class="input-checkbox" data-for="#input-ac-pre" {{#ifCond actor.system.stats.ac.attributes.pre.enabled '==' true}}checked{{/ifCond}}/>
                            <label>Add Pre. Limit:</label>
                            <input name="system.stats.ac.attributes.pre.limit" type="number" value="{{actor.system.stats.ac.attributes.pre.limit}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <input type="hidden" id="input-noisy" name="system.stats.ac.noisy" value="{{actor.system.stats.ac.noisy}}" data-dtype="Boolean">
                            <input type="checkbox" class="input-checkbox" data-for="#input-noisy" {{#ifCond actor.system.stats.ac.noisy '==' true}}checked{{/ifCond}}/>
                            <label>Noisy</label>
                        </div>
                        
                    </div>
                    <div class="fcol" style="border-top: solid; padding-top: 4px; margin-top: 4px;">
                        <div class="config-header frow">
                            <label>Spells &amp; Mana</label>
                        </div>
                        <div class="config-input frow">
                            <label>Max Mana Bonus</label>
                            <input name="system.stats.mana.bonus" type="number" placeholder="0" value="{{actor.system.stats.mana.bonus}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Charge Limit Bonus</label>
                            <input name="system.stats.mana.chargeLimit.bonus" type="number" placeholder="0" value="{{actor.system.stats.mana.chargeLimit.bonus}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Short Rest Mana Gain Bonus</label>
                            <input name="system.stats.mana.shortRestGain.bonus" type="number" placeholder="0" value="{{actor.system.stats.mana.shortRestGain.bonus}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Short Rest Mana Gain Divisor</label>
                            <input name="system.stats.mana.shortRestGain.divisor" type="number" placeholder="2" value="{{actor.system.stats.mana.shortRestGain.divisor}}" data-dtype="Number" />
                        </div>
                        <hr/>
                        <div class="config-input frow">
                            <label>Spell Save DC Bonus</label>
                            <input name="system.bonuses.spell.dc" type="number" placeholder="0" value="{{actor.system.bonuses.spell.dc}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Global Spell Attack Bonus</label>
                            <input name="system.bonuses.attack.spell.all.attack" type="number" placeholder="0" value="{{actor.system.bonuses.attack.spell.all.attack}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Melee Spell Attack Bonus</label>
                            <input name="system.bonuses.attack.spell.melee.attack" type="number" placeholder="0" value="{{actor.system.bonuses.attack.spell.melee.attack}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Ranged Spell Attack Bonus</label>
                            <input name="system.bonuses.attack.spell.ranged.attack" type="number" placeholder="0" value="{{actor.system.bonuses.attack.spell.ranged.attack}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="fcol" style="border-top: solid; padding-top: 4px; margin-top: 4px;">
                        <div class="config-header frow">
                            <label>Weapon Attacks</label>
                        </div>
                        <div class="config-input frow">
                            <label>Global Weapon Attack Bonus</label>
                            <input name="system.bonuses.attack.weapon.all.attack" type="number" placeholder="0" value="{{actor.system.bonuses.attack.weapon.all.attack}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Melee Weapon Attack Bonus</label>
                            <input name="system.bonuses.attack.weapon.melee.attack" type="number" placeholder="0" value="{{actor.system.bonuses.attack.weapon.melee.attack}}" data-dtype="Number" />
                        </div>
                        <div class="config-input frow">
                            <label>Ranged Weapon Attack Bonus</label>
                            <input name="system.bonuses.attack.weapon.ranged.attack" type="number" placeholder="0" value="{{actor.system.bonuses.attack.weapon.ranged.attack}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>

                <!-- Misc Settings -->
                <div class="config-group fcol">
                    <div class="config-header frow">
                        <label>Misc</label>
                    </div>
                    <div class="config-input frow">
                        <label>Maximum Luck</label>
                        <input name="system.stats.luck.max" type="number" placeholder="3" value="{{actor.system.stats.luck.max}}" data-dtype="Number" />
                    </div>
                    <div class="config-input frow">
                        <label>Maximum Attunements</label>
                        <input name="system.stats.attunement.max" type="number" placeholder="3" value="{{actor.system.stats.attunement.max}}" data-dtype="Number" />
                    </div>
                    <div class="config-input frow">
                        <label>Carry Capacity per STR</label>
                        <input name="system.stats.carry" type="number" placeholder="15" value="{{actor.system.stats.carry}}" data-dtype="Number" />
                    </div>
                    <div class="config-input frow">
                        <label>Initiative Bonus</label>
                        <input name="system.stats.init.bonus" type="number" placeholder="0" value="{{actor.system.stats.init.bonus}}" data-dtype="Number" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
