<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "undertaking.Description" }}</a>
        <a class="item" data-tab="progression">{{ localize "undertaking.Progression" }}</a>
        <a class="item" data-tab="details">{{ localize "undertaking.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body other">
        {{!-- Description Tab --}}
        <div class="tab full-page flexrow active" data-group="primary" data-tab="description">
          {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror"
                   collaborate=false}}
        </div>

        {{!-- Progression Tab --}}
        <div class="tab full-page flexrow" data-group="primary" data-tab="progression">
          {{editor classDetails target="system.classDetails" button=true editable=editable engine="prosemirror"
                   collaborate=false}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab flexrow" data-group="primary" data-tab="details">
            <div class="item-row frow">
            <label>{{ localize "undertaking.Level" }}:</label>
            <input class="short" name="system.levels" type="number" value="{{item.system.levels}}" placeholder="0" data-dtype="Number" />
          </div>
        </div>
     </section>
</form>
