<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <section class="sheet-body other">
      {{!-- Description Tab --}}
      <div class="tab full-page flexrow active" data-group="primary" data-tab="description">
        <div class="fcol">
          <div class="item-row frow">
            <div class="row-input">
              <label>{{ localize "undertaking.Quantity" }}:</label>
              <input class="no-bg short right" name="system.quantity" type="number" value="{{item.system.quantity}}" placeholder="1" data-dtype="Number" />
            </div>
            <div class="row-input">
              <label>{{ localize "undertaking.Weight" }}:</label>
              <input class="no-bg short right" name="system.weight" type="number" value="{{item.system.weight}}" placeholder="0" data-dtype="Number" />
              <p>{{ localize "undertaking.PoundsAbbrev" }}</p>
            </div>
            <div class="row-input">
              <label>{{ localize "undertaking.Value" }}:</label>
              <input class="no-bg short right" name="system.price.value" type="number" value="{{item.system.price.value}}" placeholder="0" data-dtype="Number" />
              <input class="no-bg short" name="system.price.denomination" type="text" value="{{item.system.price.denomination}}" placeholder="gp" data-dtype="String" />
            </div>
          </div>
          <input type="hidden" id="input-identified" name="system.identified" value="{{item.system.identified}}" data-dtype="Boolean">
          <input type="hidden" id="input-attunement" name="system.attunement" value="{{item.system.attunement}}" data-dtype="Boolean">
          <input type="hidden" id="input-attuned" name="system.attuned" value="{{item.system.attuned}}" data-dtype="Boolean">
          <div class="item-row frow">
            {{#ifGM}}
            <div class="frow short">
              <label>{{ localize "undertaking.Identified" }}:</label>
              <input type="checkbox" class="input-checkbox" data-for="#input-identified" {{#ifCond item.system.identified '==' true}}checked{{/ifCond}}/>
            </div>
            {{/ifGM}}
            <div class="frow short">
              <label>{{ localize "undertaking.RequiresAttunement" }}:</label>
              <input type="checkbox" class="input-checkbox" data-for="#input-attunement" {{#ifCond item.system.attunement '==' true}}checked{{/ifCond}}/>
            </div>
            {{#ifCond item.system.attunement '==' true}}
            <div class="frow short">
                <label>{{ localize "undertaking.Attuned" }}:</label>
                <input type="checkbox" class="input-checkbox" data-for="#input-attuned" {{#ifCond item.system.attuned '==' true}}checked{{/ifCond}}/>
            </div>
            {{/ifCond}}
          </div>
          <hr class="blue"/>
          <br/>
          {{#ifGM}}
            <label><b>{{ localize "undertaking.Description" }}&nbsp;({{#ifCond item.system.identified '==' true}}{{ localize "undertaking.Shown" }}{{else}}{{ localize "undertaking.Hidden" }}{{/ifCond}})</b></label>
            <div class="description-container {{#ifCond item.system.identified '==' false}}inactive{{else}}highlighted{{/ifCond}}">
              {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
            </div>
            <label><b>{{ localize "undertaking.UnidentifiedDescription" }}&nbsp;({{#ifCond item.system.identified '==' false}}{{ localize "undertaking.Shown" }}{{else}}{{ localize "undertaking.Hidden" }}{{/ifCond}})</b></label>
            <div class="description-container {{#ifCond item.system.identified '==' true}}inactive{{else}}highlighted{{/ifCond}}">
              {{editor unidentifiedHTML target="system.description.unidentified" button=true editable=editable engine="prosemirror" collaborate=false}}
            </div>
          {{else}}
            {{#ifCond item.system.identified '==' true}}
              <div class="description-container">
                {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
              </div>
            {{/ifCond}}
            {{#ifCond item.system.identified '==' false}}
              <div class="description-container">
                {{editor unidentifiedHTML target="system.description.unidentified" button=true editable=editable engine="prosemirror" collaborate=false}}
              </div>
            {{/ifCond}}
          {{/ifGM}}
        </div>
      </div>
    </section>
</form>
