<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "undertaking.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "undertaking.Details" }}</a>
    </nav>

    <section class="sheet-body other">

        {{!-- Description Tab --}}
        <div class="tab full-page flexrow active" data-group="primary" data-tab="description">
            <div class="fcol">
                <div class="description-container">
                    {{editor descriptionHTML target="system.description.value" button=true editable=editable engine="prosemirror" collaborate=false}}
                </div>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab full-page flexrow" data-group="primary" data-tab="details">
            <div class="fcol">
                <input type="hidden" id="input-weapontype" name="system.weaponType" value="{{item.system.weaponType}}" data-dtype="String">
                <input type="hidden" id="input-t-amm" name="system.properties.amm" value="{{item.system.properties.amm}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-fin" name="system.properties.fin" value="{{item.system.properties.fin}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-foc" name="system.properties.foc" value="{{item.system.properties.foc}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-hvy" name="system.properties.hvy" value="{{item.system.properties.hvy}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-lgt" name="system.properties.lgt" value="{{item.system.properties.lgt}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-lod" name="system.properties.lod" value="{{item.system.properties.lod}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-rch" name="system.properties.rch" value="{{item.system.properties.rch}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-spc" name="system.properties.spc" value="{{item.system.properties.spc}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-thr" name="system.properties.thr" value="{{item.system.properties.thr}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-two" name="system.properties.two" value="{{item.system.properties.two}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-una" name="system.properties.una" value="{{item.system.properties.una}}" data-dtype="Boolean">
                <input type="hidden" id="input-t-ver" name="system.properties.ver" value="{{item.system.properties.ver}}" data-dtype="Boolean">

                <div class="item-row frow">
                    <label>{{ localize "undertaking.WeaponType" }}:</label>
                    <select class="input-dropdown" data-for="#input-weapontype">
                        <option value="simpleM" {{#ifCond item.system.weaponType '==' "simpleM"}}selected{{/ifCond}}>{{ localize "undertaking.SimpleMelee" }}</option>
                        <option value="simpleR" {{#ifCond item.system.weaponType '==' "simpleR"}}selected{{/ifCond}}>{{ localize "undertaking.SimpleRanged" }}</option>
                        <option value="martialM" {{#ifCond item.system.weaponType '==' "martialM"}}selected{{/ifCond}}>{{ localize "undertaking.MartialMelee" }}</option>
                        <option value="martialR" {{#ifCond item.system.weaponType '==' "martialR"}}selected{{/ifCond}}>{{ localize "undertaking.MartialRanged" }}</option>
                        <option value="shield" {{#ifCond item.system.weaponType '==' "shield"}}selected{{/ifCond}}>{{ localize "undertaking.Shield" }}</option>
                    </select>
                </div>

                <div class="item-row frow">
                    <label>{{ localize "undertaking.Range" }}:</label>
                    <input class="no-bg" name="system.range.value" style="width:8ch" type="number" value="{{item.system.range.value}}" placeholder="0" data-dtype="Number" />
                    <label> / </label>
                    <input class="no-bg" name="system.range.long" style="width:8ch" type="number" value="{{item.system.range.long}}" placeholder="0" data-dtype="Number" />
                </div>

                <div class="item-row fcol">
                    <label>{{ localize "undertaking.Traits" }}:</label>
                    <div class="traits-grid">
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.amm" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-amm" {{#ifCond item.system.properties.amm '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.fin" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-fin" {{#ifCond item.system.properties.fin '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.foc" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-foc" {{#ifCond item.system.properties.foc '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.hvy" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-hvy" {{#ifCond item.system.properties.hvy '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.lgt" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-lgt" {{#ifCond item.system.properties.lgt '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.lod" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-lod" {{#ifCond item.system.properties.lod '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.rch" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-rch" {{#ifCond item.system.properties.rch '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.spc" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-spc" {{#ifCond item.system.properties.spc '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.thr" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-thr" {{#ifCond item.system.properties.thr '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.two" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-two" {{#ifCond item.system.properties.two '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.una" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-una" {{#ifCond item.system.properties.una '==' true}}checked{{/ifCond}}/>
                        </div>
                        <div class="frow traitrow">
                            <label>{{ localize "undertaking.WeaponTraits.ver" }}:</label>
                            <input type="checkbox" class="input-checkbox" data-for="#input-t-ver" {{#ifCond item.system.properties.ver '==' true}}checked{{/ifCond}}/>
                        </div>
                    </div>
                </div>

                {{> "systems/undertaking/templates/partials/item/edit-attack.hbs"}}
            </div>
        </div>
    </section>
</form>
