<div class="item-card equipment item frow" data-item-id="{{_id}}">
    <img class="item-img equipment" src="{{img}}"/>
    <div class="item-name equipment">
        <a class="item-open"><p>{{name}}</p></a>
    </div>
    {{#ifCond system.attunement '==' true}}
    <div class="item-buttons equipment fcol">
        <a class="item-attune-change{{#ifCond system.attuned '==' true}} attuned{{/ifCond}}" title="{{#ifCond system.attuned '==' true}}{{ localize "undertaking.Attuned" }}{{else}}{{ localize "undertaking.NotAttuned" }}{{/ifCond}}"><i class="{{#ifCond system.attuned '==' true}}fa-solid{{else}}fa-regular{{/ifCond}} fa-sparkles"></i></a>
    </div>
    {{/ifCond}}
    <div class="item-count equipment fcol">
        <a class="item-count-change increase"><i class="fa-solid fa-caret-up"></i></a>                    
        <label class="item-quantity" title="{{ localize "undertaking.Quantity" }}">{{system.quantity}}</label>
        {{#ifCond system.quantity '>' 0}}
            <a class="item-count-change decrease"><i class="fa-solid fa-caret-down"></i></a> 
        {{/ifCond}}
    </div>
    <div class="item-buttons equipment fcol">
        {{#ifCond lockEdit '==' 0}}                        
            <a class="item-delete" title="{{ localize "undertaking.DeleteItem" }}">
                <i class="fas fa-trash"></i>
            </a>
        {{/ifCond}}
    </div>
</div>